<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs')%>
<body>
    <h1>Bug Blog</h1>
        <div class="intro">
        <%- include('../partials/nav.ejs') %>
        <p class="top">A Bug Academy Site</p>

    </div>


    <p class="top">Welcome to ninjas world</p>
    <div class="content">
        <p>Lorem ipsum dolor sit.</p>
        <p>404</p>
    </div>
    
    <%- include('../partials/footer.ejs') %>  
</body>
</html>