<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs')%>
<body>
    <h1>Bug Blog</h1>
        <div class="intro">
        <%- include('../partials/nav.ejs') %>
        <p class="top">A Bug Academy Site</p>

    </div>

    <div class="content">
        <p>About</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
        <p>About</p>
    </div>

    <%- include('../partials/footer.ejs') %>  

</body>
</html>